<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>This is wise words from Yoda to you,</h1>
    <p>
      <strong><i>"<%= Faker::Quote.yoda %>"</i></strong>
      <br>
    </p>
    <p>Have a great day!</p>
  </body>
</html>